@import './src/assets/color.scss';

mat-toolbar{
  a {
    color: #2182ea;
    font-size: 1.5em;
    padding: 15px;

  }
  a:link {
    text-decoration: none;
  }
  button:focus {
    outline: none;
  }
  .mat-icon-button {
    background-color: white;
    line-height: 20px;
  }
  .btn {
    vertical-align: revert;
  }
}

mat-nav-list {
  width: 70px;
  height: 100%;
  background: #2182ea;

  a {
    color: #fff;
    font-size: 2em;
    text-align: center;
    position: relative;
    display: block;
    line-height: 2em;
  }
}

mat-sidenav-container {
  height: 98vh;
}
