<h1>Home page</h1>
<form>
  <div class="">
    <p class="text-center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec
      adipiscing tristique risus nec feugiat in fermentum. Est placerat in egestas erat imperdiet. Placerat in egestas erat imperdiet sed
      euismod nisi porta. Egestas integer eget aliquet nibh praesent tristique magna sit amet. Volutpat lacus laoreet non curabitur gravida
      arcu ac tortor. Suspendisse potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Enim lobortis scelerisque fermentum dui
      faucibus in. Proin sagittis nisl rhoncus mattis rhoncus urna neque viverra. Risus ultricies tristique nulla aliquet enim. Consequat ac
      felis donec et odio pellentesque diam. Arcu cursus vitae congue mauris rhoncus. Praesent semper feugiat nibh sed pulvinar proin
      gravida hendrerit.
    </p>
  </div>
</form>
